<meta charset="UTF-8">
<meta name="Pragma" content="no-cache">
<meta name="Expires" content="0">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<title>The FarmBot Web App</title>
<meta name="description" content="Setup, customize, and control FarmBot from your computer, tablet, or smartphone.">
<script>
<% # IMPORTANT!!!! %>
<% # ALWAYS LOAD THIS *FIRST* %>
window.globalConfig = <%= raw(@global_config) %> // SEE COMMENTS!;
<% # READ COMMENT ABOVE %>
window.process = {
  env: {
    NODE_ENV: <%= raw(Rails.env.inspect) %>
  }
}
</script>
<%= render "addons" %>
<%= javascript_include_tag *@js_assets, type: "module" %>
<% if Rails.env.development? &&
     ENV.fetch("ASSET_LIVERELOAD", "true") == "true" %>
  <% asset_host = ENV.fetch("ASSET_HOST",
                            ENV.fetch("API_HOST", "localhost")) %>
  <% asset_port = ENV.fetch("ASSET_PORT", "3808") %>
  <script>
    (() => {
      const protocol = location.protocol === "https:" ? "wss" : "ws";
      const host = "<%= asset_host %>";
      const port = "<%= asset_port %>";
      const socket = new WebSocket(`${protocol}://${host}:${port}`);
      socket.addEventListener("message", (event) => {
        if (event.data === "reload") {
          location.reload();
        }
      });
    })();
  </script>
<% end %>
<meta content="width=device-width, initial-scale=1" name="viewport">
