= stylesheet_link_tag "sequence_builder.css"
%div
  // TODO: Write a view helper that traverses /views/dashboard/ng-partials and
  // includes them here.
  %script{:id => "movement.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/movement"
  %script{:id => "settings.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/settings"
  %script{:id => "sequence.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence"

  / sequence builder things ==============
  %script{:id => "sequence-builder/move_rel", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/move_rel"
  %script{:id => "sequence-builder/write_pin", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/write_pin"
  %script{:id => "sequence-builder/move_abs", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/move_abs"

  %div{'ng-view' => true}
    loading...
