= stylesheet_link_tag "sequence_builder.css"
%div
  // TODO: Write a view helper that traverses /views/dashboard/ng-partials and
  // includes them here.
  %script{:id => "movement.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/movement"
  %script{:id => "settings.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/settings"
  %script{:id => "sequence.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence"
  %script{:id => "newmovement.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/newmovement"
  %script{:id => "schedule.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/schedule"

  / sequence builder things ==============
  %script{:id => "sequence-builder/move_rel", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/move_rel"
  %script{:id => "sequence-builder/pin_write", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/pin_write"
  %script{:id => "sequence-builder/pin_read", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/pin_read"
  %script{:id => "sequence-builder/move_abs", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/move_abs"
  %script{:id => "sequence-builder/wait", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/wait"
  %script{:id => "sequence-builder/send_message", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/send_message"
  %script{:id => "sequence-builder/single_command", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/single_command"

  / widgets ==============
  %script{:id => "widgets/schedule_sequence", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/widgets/schedule_sequence"
  %script{:id => "widgets/calendar", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/widgets/calendar"
  %script{:id => "widgets/move", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/widgets/move"
  %script{:id => "widgets/camera", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/widgets/camera"
  %script{:id => "widgets/tool_control", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/widgets/tool_control"
  %script{:id => "widgets/device_status", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/widgets/device_status"

  %div{'ng-view' => true}
    loading...
