= stylesheet_link_tag "sequence_builder.css"
%div
  // TODO: Write a view helper that traverses /views/dashboard/ng-partials and
  // includes them here.
  %script{:id => "movement.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/movement"
  %script{:id => "settings.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/settings"
  %script{:id => "sequence.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence"
  %script{:id => "newmovement.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/newmovement"

  / sequence builder things ==============
  %script{:id => "sequence-builder/move_rel", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/move_rel"
  %script{:id => "sequence-builder/pin_write", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/pin_write"
  %script{:id => "sequence-builder/pin_read", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/pin_read"
  %script{:id => "sequence-builder/move_abs", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/move_abs"
  %script{:id => "sequence-builder/wait", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/wait"
  %script{:id => "sequence-builder/single_command", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/sequence-builder/single_command"

  %div{'ng-view' => true}
    loading...
