<div class="row">
<div class="small-12 small-centered columns">
<h2 class="page-title">Create your FarmBot account</h2>
</div>
<div class="large-4 medium-6 small-10 small-centered columns">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label 'Username' %>
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Register" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
