.row
  .large-12.columns
    %h1 Create your Farmbot Account
.row
  .large-6.columns
    %ul
      %li Graphically Design your farm or garden with drag and drop plants and operations.
      %li Adjust grow settings for maximum efficiency.
      %li Analyze data maps for data-driven design.
      %li View and edit scheduled operations.
      %li Communicate with your FarmBot.
  .large-6.columns
    .signup-panel
      %p.welcome Create your Account
      = form_for(User.new, url: '/users') do |f|
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fi-torso-female
          .small-10.columns
            = f.text_field :name, autofocus: true, placeholder: 'Pick a User Name'
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fi-mail
          .small-10.columns
            = f.email_field :email, placeholder: 'Email'
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fi-lock
          .small-10.columns
            = f.password_field :password, autocomplete: "off", placeholder: 'Password'
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fi-lock
          .small-10.columns
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password'
        = f.submit "Sign up", class: 'button'
        %p
          Already have an account?
          = link_to 'Login here »', new_user_session_path
