!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = favicon_link_tag 'favicon.png'
    %title= content_for?(:title) ? yield(:title) : "FarmBot"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/redux/1.0.1/redux.min.js"
    = javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
    = javascript_include_tag "application"
  %body{'ng-app' => 'FarmBot'}
    .row
      %nav.drop-shadow{ng_app: 'farmbot', ng_controller: 'nav'}
        .col-xs-menu-title MENU
        %a{:href => root_path} Home
        - if current_user
          %a{:href => "/pages/farm_designer"} Farm Designer
          %a{:href => "/dashboard#/movement"} Controls
          %a{:href => "/dashboard#/devices"} Devices
          %a{:href => "/dashboard#/sequence"} Sequences
          %a{:href => "/dashboard#/schedule"} Schedules
          %a.col-md-menu-right{:href => destroy_user_session_path} Sign out
          %a.col-md-menu-right{:href => edit_user_registration_path} My Account
        - else
          %a.col-md-menu-right{:href => new_user_session_path} Log In
          %a.col-md-menu-right{:href => new_user_registration_path} Register
          %a.col-md-menu-right{:href => page_path('help')} Help
        - if current_user && controller_name == "dashboard"
          %stopbutton
          %syncbutton{schedules: "schedules"}
    .container.col-xs-12.col-sm-6.col-md-4.col-xs-centered
      - if notice
        .alert-box.notice.round{"onClick" => "hidden = true"}
          = notice
          %a.close{style: 'margin-right: 10px; color: white; opacity: 1.0;'} ×
      - if alert
        .alert-box.alert.round{"onClick" => "hidden = true"}
          = alert
          %a.close{style: 'margin-right: 10px; color: white; opacity: 1.0;'} ×
    .content
      = yield
