<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FarmBot" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- TODO: Style the alert dialogs -->
    <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Farmbot</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Welcome, Rory!</a>
        <ul class="dropdown">
          <li><a href="#">Account Settings</a></li>
        </ul>
      </li>
      <li><a href="#">Logout</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="#">Dashboard</a></li>
      <li><a href="#">Farm</a></li>
      <li><a href="#">Data</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </section>
</nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>