!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = favicon_link_tag 'favicon.png'
    %title= content_for?(:title) ? yield(:title) : "FarmBot"
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body{'ng-app' => 'FarmBot'}

    .row
      %nav.drop-shadow{ng_app: 'farmbot', ng_controller: 'nav'}
        .small-menu-title MENU
        %a{:href => root_path} Home
        - if current_user
          %a{:href => "/dashboard#/farm-designer"} Farm Designer
          %a{:href => "/dashboard#/movement"} Controls
          %a{:href => "/dashboard#/devices"} Devices
          %a{:href => "/dashboard#/sequence"} Sequences
          %a{:href => "/dashboard#/schedule"} Schedules
          %a.large-menu-right{:href => destroy_user_session_path} Sign out
          %a.large-menu-right{:href => edit_user_registration_path} My Account
        - else
          %a.large-menu-right{:href => new_user_session_path} Log In
          %a.large-menu-right{:href => new_user_registration_path} Register
          %a.large-menu-right{:href => page_path('help')} Help
        - if current_user && controller_name == "dashboard"
          %syncbutton.nav-bar{schedules: "schedules"}
    .container.small-12.medium-6.large-4.small-centered.columns{style: 'margin-top: 20px;'}
      - if notice
        .alert-box.notice.round{"onClick" => "hidden = true"}
          = notice
          %a.close{style: 'margin-right: 10px; color: white; opacity: 1.0;'} ×
      - if alert
        .alert-box.alert.round{"onClick" => "hidden = true"}
          = alert
          %a.close{style: 'margin-right: 10px; color: white; opacity: 1.0;'} ×

    .content
      = yield
      = javascript_include_tag "application"
